Header {
    background: $primary;
}

JobListPanel > .datatable--cursor {
    background: $primary 60%;
    color: $text;
}

#main {
    height: 1fr;
}

#left-col {
    width: 30%;
}

#pipeline-info {
    height: auto;
    border: round $panel-lighten-1;
    padding: 1 2;
    content-align: left top;
}

PipelineListPanel {
    height: 1fr;
    border: round $panel-lighten-1;
}

PipelineListPanel Input {
    margin-bottom: 1;
}

PipelineListPanel DataTable {
    height: 1fr;
}

#pipeline-list-table > .datatable--cursor {
    background: $primary 60%;
    color: $text;
}

#job-panel {
    width: 70%;
    border: round $panel-lighten-1;
}

LoadingIndicator {
    height: 3;
    width: 100%;
}

DataTable {
    height: 1fr;
}

#filter-bar {
    height: auto;
    background: $panel-darken-1;
}

#search {
    width: 1fr;
}

#status-filter, #stage-filter {
    width: auto;
    min-width: 14;
}

FilterButton.-active {
    border: tall $accent;
}

#sort-button {
    width: auto;
    min-width: 18;
}


HelpModal {
    align: center middle;
}

#help {
    width: 62;
    height: auto;
    max-height: 85%;
    background: $surface;
    border: round $primary;
    padding: 1 2;
}
